@import '../../../../../styles/variables';

.create {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__alert {
    padding: 0.75rem 1rem;
    border: 1px solid fish-color("danger");
    border-radius: 0.5rem;
    background-color: fish-color("white");
  }
}
