$family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;

@import '../../projects/fish-ui/src/styles/fish-styles/all.scss';
